.calanderBar{
  position: fixed;
  top:0;
  width: 20%;
  right: 0;
  height: 100vh;
  background-color: #0C2D57;
  padding: 40px 15px 40px 15px;
  border-radius: 20px 0 0 20px;
}

.calander{
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  border-radius: 20px 0 0 20px;
  color: #FC6736;
}